@import 'tailwindcss';

@font-face {
	font-family: 'Font007';
	src: url('/font/FONT007.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'FONT001';
	src: url('/font/FONT001.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-primary: #d4a017;
	--color-secondary: #b8944f;

	--color-sky: #622aff;
	--color-tertiary: #4a6b2a;
	--color-tertiary-hover: #3a5520;

	--color-bg: #0b1416;
	--color-bg-dark: #101d0f;
}

body {
	background: var(--color-bg);
	color: white;
	font-family: 'Font007', Arial, Helvetica, sans-serif;
}

.drop-shadow-text {
}
