@import 'tailwindcss';

@font-face {
	font-family: 'Font007';
	src: url('/font/FONT007.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@theme {
	--color-primary: #a47600;
	--color-secondary: #6f5b23;

	--background: #0b1416;
}

:root {
	--background: #0b1416;
}

body {
	background: var(--background);
	color: white;
	font-family: 'Font007', Arial, Helvetica, sans-serif;
}
